@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:300);
@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:700);


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*////////////////////////////////////////////////////////*/
.cabecera{
  background-color: #1A3648;
  border: solid rgba(0, 71, 18, 0.61) ;
  display: grid;
  grid-template-columns:  1fr 3fr;
  margin: 1em;
}

.logo, .titulo{
  width: 100%;
}
.logo{

  grid-column-start: 1;
  padding-left: 140px;
}
.logo img{
  width: 250px;
 
}
.titulo{
  font-size: 30px;
  font-family: Verdana, sans-serif;
  color: aliceblue;
  place-self: center;
}

@media screen and (max-width: 700px) {
  .cabecera {
    display: flex;
    margin: 0.5em;
}
.logo{
  padding-left: 10px;
}
.logo img{
  width: 100%;

}
.titulo{
  grid-area: titulo;
  font-size: 15px
};
}
/*///////////////////////////////////////////////////////////////////////////////////////*/
main{
  border: solid rgba(0, 71, 18, 0.61) ;
  margin: 1em;
}
section{
  background-color: bisque;
    background-image: url(images/fondoQR.png);
    background-size:cover;
    background-repeat: no-repeat;
}
.pasos{
  background-color: #1A3648;
  color: aliceblue;
  padding: 3px;
  padding-left: 2em;
  text-shadow: 0.18em 0.01em   #1b2328;

}
.pasos h2{
  text-decoration:underline;
  font-size: 30px;
}
.pasos h3{
  padding-left: 0.5em;
  color: #CB9852;
  font-size: 25px;
}

.dos{
  font-size: 30px;
  width: 20%;
  color: azure;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
}
.dos input{
  margin: 2em 0em 0em 15em;

}



.form-color{
  display: grid;
  grid-template-areas: 
  "azul verde morado "
  "rojo celeste amarillo ";
  width: 500px;
  height: 400px;
}
.form-color, input img{
  width: 60%;
  margin: 3em 0em 0em 15em;

}
.negro{
  grid-area: azul;
}
 .negro input{
  width: 20px;
  height: 100px;
}
.verde{
  grid-area: verde;
}
.verde input{
  width: 20px;
  height: 100px;
}
.morado{
  grid-area: morado;
}
.morado input{
  width: 20px;
  height: 100px;
}
.rojo{
  grid-area: rojo;
}
.rojo input{
  width: 20px;
  height: 100px;
}
.celeste{
  grid-area: celeste;
}
.celeste input{
  width: 20px;
  height: 100px;
}
.amarillo{
  grid-area: amarillo;
}
.amarillo input{
  width: 20px;
  height: 100px;
}
/*/////////////////////////////////////////////////////////////////*/
.extension{
  width: 500px;
  height: 450px;
  font-size: 40px;
  color: aliceblue;
  padding: 3px;
  padding-left: 2em;

}
.extension select{
width: 100px;
height: 50px;
font-size: 30px;
}
.extension a{
  text-decoration: none;
  color: black;
  padding: 10px;
  background-color:#CB9852;
  border-radius: 5px;
  border: #2c5b78 solid;
  font-size: 25px;
}
.extension form{
  margin-top: 50px;
}
.extension fieldset{
  width: 500px;
  height: 300px;
}
.extension select, a{
  margin-top: 2em;
}
/*//////////////////////////////////////////////////////////////////////*/
.imagen-generada{
  display: flex;
}
/*//////////////////////////////////////////////////////////////////////*/

/* Clase para ocultar */
.form-page {
  display: none;

}
/* Clase para mostrar */
.form-page.active {
  display: block;
}
.form-buttons{
  background-color: #1A3648;
  text-align: center;
}
.form-buttons button{
  font-size: 25px;
  padding: 0.5em;
  margin: 0.3em;
  background-color:#CB9852;
  border-radius: 5px;
}

footer{
  background-color: #1A3648;
  color: white;
  padding: 1em;
  margin: 1em;
  text-align: center;
}
footer a{
  color: white;
}