
/*//////////////////empiezan los tabs/////////////////////////////*/

.container-tab{
  border: solid rgba(0, 71, 18, 0.61) ;
  width: 100%;

}

.tab-list li{
  display: inline-block;
  border: solid white;
  background-color: #1A3648;
  font-size:15px;
  border-radius: 5px;
  margin-top: 0.5em;
}
.tab-list li button:focus{
  background-color:#CC9952;
}


.tab-list li:hover{
  background-color: goldenrod;
}
.tab-list li button{
  color: rgb(255, 255, 255);
  padding:1em;
  background-color: #1A3648;
  font-size:25px;
}
.tab-list li button:hover{
  color:rgb(255, 255, 255);
  background-color: #CC9952;
  cursor: pointer;

}


.tab-content .tab-pane{
  display:none;
  height: 300px;
  
}

.tab-content .tab-pane:first-child{
  display:block;
}
.tab-pane{
  font-size: 30px;
  color: aliceblue;

}
.contenido{
  display: inline-flex;
}
.contenido form{
  margin-top: 90px;
}
.contenido img{
  border-radius: 50%;
}

.tab-pane button:hover{
  cursor:pointer;
  font-weight: bolder;
}
.tab-pane .qr img{
  width: 200px;
  border-radius: 0%;
}
.wifi {
display: flex;
}

.wifi img{
    border-radius: 50%;
  width: 200px;
  background-color: whitesmoke;
}
.wifi form{
  grid-area: form;
  margin-top: 1em;
}
.wifi form input{
  margin: 20px;
}